$primary-color: color("blue-grey", "darken-2");

$button-border: 1px solid color("blue-grey", "lighten-3");

$toast-color: color("blue-grey", "lighten-2");

$secondary-color: color("teal", "base");